@addTagHelper *, Vereyon.Web.FlashMessage
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
<link rel="stylesheet" href="~/css/homepage.css" />
<link rel="stylesheet" href="~/css/promotion.css" />
@*<script src="~/js/homepage.js"></script>*@
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<flash dismissable="true" />
<div class="main">
    <h1>
        Rocket Elevators: <div class="roller">
            <span id="rolltext">
                Reliable<br />
                Safe <br />
                Fast Service <br />
        </div>
    </h1>

</div>
<script>
    function myFunction(id) {
        
        if (id == 0) {
            document.getElementById("chat-circle").click();
            document.getElementById("chat-input").value = "Request Quote for </br> Standard";
            document.getElementById("chat-submit").click();
        } else if (id == 1) {
            document.getElementById("chat-circle").click();
            document.getElementById("chat-input").value = "Request Quote for </br> Excelium";
            document.getElementById("chat-submit").click();
        } else if (id == 2) {
            document.getElementById("chat-circle").click();
            document.getElementById("chat-input").value = "Request Quote for </br> Premium";
            document.getElementById("chat-submit").click();
        }
    
    }
</script>
<div class="container" style="margin-top:-400px;margin-bottom:200px;">
    <div class="center">
        <h1 style="font-size:30px;">Looking for an upgrade? </br>Don't miss out on our promotions.. </h1>
    </div>
    <div class="grid">
        <div class="mycard basic">
            <div class="title">
                <i class="fa fa-walking" aria-hidden="true"></i>
                <h2>Standard</h2>
            </div>
            <div class="price">
                <h4><sup>$</sup>7 565</h4>
            </div>
            <div class="option">
                <ul>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Transport up to 500kg</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Durable</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> 24 / 7 Service</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Best for Home/Condo</li>
                </ul>
            </div>
            <a class="btn btn-light btn-block" href="javascript:myFunction(0);">Contact Us</a>
        </div>
        <div class="mycard standard">
            <div class="title">
                <i class="fa fa-building" style="width:400px;" aria-hidden="true"></i>
                <h2>Excelium</h2>
            </div>
            <div class="price">
                <h4><sup>$</sup>15 400</h4>
            </div>
            <div class="option">
                <ul>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Transport up to 500kg </li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Fastest </li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> 24 / 7 Service</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Best For Entreprise</li>
                </ul>
            </div>
            <a class="btn btn-light btn-block" href="javascript:myFunction(1);">Contact Us</a>
        </div>
        <div class="mycard premium">
            <div class="title">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <h2>Premium</h2>
            </div>
            <div class="price">
                <h4><sup>$</sup>12 345</h4>
            </div>
            <div class="option">
                <ul>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Transport up to 500kg </li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Silent </li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> 24 / 7 Service</li>
                    <li><i class="fa fa-check" aria-hidden="true"></i> Live Support </li>
                </ul>
            </div>
            <a class="btn btn-light btn-block" href="javascript:myFunction(2);">Contact Us</a>
        </div>
    </div>
</div>
